<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Cowsay web!</title>
  <style>
    body {
      color: white;
      background-color: black;
      font-size: 1.5rem;
      font-family: monospace;
    }

    .cows {
      display: flex;
      flex-wrap: wrap;
    }

    .cows a {
      margin: 10px;
    }

    a {
      color: white;
    }

    a:visited {
      color: #84ff9d;
    }

    .author {
      position: fixed;
      bottom: 0;
      right: 0;
      margin-right: 15px;
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
<div>
  <h2>Choose the cow:</h2>
  <div class="cows">
    <% _.forEach(cows, function(cow) { %>
    <a href="/<%- cow %>"><%- cow %></a>
    <% }); %>
  </div>
  <div class="author">
    <a href="https://github.com/vad1malekseev/cowsay-web">
      Github
    </a>
  </div>
</div>
</body>
</html>
