<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{ .Title }}</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<div class="flex justify-around">
    <a href="/{{ .Prev }}">&lt;-- previous</a>
    <a href="/">main page</a>
    <a href="/{{ .Next }}">next --&gt;</a>
</div>
<div class="justify-around flex padding-1">
    <div class="flex">
        <form id="textForm">
            <input id="figureText" placeholder="Type text" type="text">
            <input id="confirmTextButton" type="submit" value="say">
            <button id="fortuneButton">fortune</button>
        </form>
    </div>
    <button id="plainModeButton">plain</button>
</div>
<div class="flex justify-around">
    <pre>{{ .Preformatted }}</pre>
</div>
<script>
    function setParam(name, value) {
        const params = new URLSearchParams(window.location.search);
        params.set(name, value);
        location.search = params.toString();
    }

    document.getElementById('textForm').addEventListener('submit', (e) => {
        e.preventDefault();

        const text = document.getElementById('figureText').value;
        setParam('text', text);
    });

    document.getElementById('plainModeButton').addEventListener('click', () => {
        setParam('mode', 'plain');
    });

    document.getElementById('fortuneButton').addEventListener('click', (e) => {
        e.preventDefault();
        setParam('text', 'random');
    });
</script>
</body>
</html>
